.page {
  display: flex;
  box-sizing: border-box;
}
body {
    margin: 0;
}
/* header  */
header {
  background-color: #0c3f75;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 360px;
  
}

img {
  width: 250px;
}

p {
  font-size: 32px;
  color: white;
}

/* main */

main {
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 600px;
  max-width: 1200px;
}

ul {
  list-style: none;
}
li {
  padding: 25px;
}

nav {
  background-color: #9cb4c9;
  width: 400px;
}

article {
  background-color: #9cb4c9bf;
  width: 800px;
}
article p {
  color: black;
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0c3f75;
  width: 1200px;
  height: 100px;
  padding: 0;
}

p {
  font-size: 16px;
  margin: auto;
}
